/* responsive sur l'image */
.img {  
  background-image: url('../img/3333449.jpg');  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 950px) {
  .bg {
    height: 500px;
  }
  .img {
    height: 550px;
    max-width: 80%;
    display: block;    
  }
  .txt_sur_image {
    font-size: 50px;
    font-weight: bold;
  }
}
@media (max-width: 949px) {
  .bg {
    height: 450px;    
  }
  .img {
    height: 550px;
    max-width: 80%;
    display: block;    
  }  
  .img {
    height: 550px;
    max-width: 80%;
    display: block;    
  }  
}
@media (max-width: 1090px) {
  .bg {
    height: 450px;    
  }
  .img {
    height: 450px;
    max-width: 80%;
    display: block;    
  }  
  .txt_sur_image {
    font-size: 45px;
    font-weight: bold;
  }
}

@media (max-width: 821px) {
  .bg {
    height: 410px;    
  }  
  .img {
    height: 430px;
    max-width: 80%;
    display: block;    
  }
}
@media (max-width: 751px) {
  .bg {
    height: 390px;    
  }
  .img {
    height: 400px;
    max-width: 80%;
    display: block;    
  }   
}
@media (max-width: 641px) {
  .bg {
    height: 420px;    
  }
  
}
@media (max-width: 593px) {
  .bg {
    height: 390px;    
  }
  .img {
    height: 400px;
    max-width: 80%;
    display: block;    
  }   
}
@media (max-width: 494px) {
  .bg {
    height: 400px;    
  }
  .img {
    height: 370px;
    max-width: 80%;
    display: block;    
  }   
}
@media (max-width: 368px) {
  .bg {
    height: 400px;    
  }
  .img {
    height: 370px;
    max-width: 80%;
    display: block;    
  }     
}
@media (max-width: 314px) {
  .bg {
    height: 400px;    
  } 
}

/* responsive sur le texte */

@media (max-width: 1141px) {
  .txt_sur_image {
    font-size: 50px;
    font-weight: bold;
  }
}
@media (max-width: 1002px) {
  .txt_sur_image {
    font-size: 40px;
    font-weight: bold;
  }
}
@media (max-width: 901px) {
  .txt_sur_image {
    font-size: 35px;
    font-weight: bold;
  }
}
@media (max-width: 777px) {
  .txt_sur_image {
    font-size: 30px;
    font-weight: bold;
  }
}
@media (max-width: 678px) {
  .txt_sur_image {
    font-size: 25px;
    font-weight: bold;
  }
}
@media (max-width: 571px) {
  .txt_sur_image {
    font-size: 21px;
    font-weight: bold;
  }
}
@media (max-width: 483px) {
  .txt_sur_image {
    font-size: 21px;
    font-weight: bold;
  }
}
@media (max-width: 423px) {
  .txt_sur_image {
    font-size: 21px;
    font-weight: bold;
  }
}
@media (max-width: 393px) {
  .txt_sur_image {
    font-size: 21px;
    font-weight: bold;
  }
}
@media (max-width: 392px) {
  .txt_sur_image {
    font-size: 15px;
    font-weight: bold;
  }
}
@media (max-width: 280px) {
  .txt_sur_image {
    font-size: 12px;
    font-weight: bold;
  }
}

.div_logo {
  height: 18%;
}
@media (min-width: 374px) {
  .logo-responsive {
    height: 60px;
  }
}

/* @media (min-width: 356px) {
  .div_logo_3 {
    padding-left: 10px;
  }
} */